<div class="{{get this.colors @index}} bg-opacity-30 rounded">
  <button 
    class="px-2 flex flex-row justify-between w-full" 
    disabled={{this.containsActivePerson}} type="button" {{on "click" this.toggleCluster}}
    >
    <p class="flex-grow text-left">
    {{get this.categories @index}}
    </p>
    <Information::PersonsListChevron
      @dropdownVisible={{this.isVisible}}
      @disabled={{this.containsActivePerson}}
    />
  </button>
  {{#if this.isVisible}}
    <ul {{css-transition "opacity"}}>
      {{#each @persons as |person|}}
        <Information::PersonsListItem @person={{person}} />
      {{/each}}
    </ul>
  {{/if}}
</div>

