<div class="overflow-auto">
  {{#if this.clustered}}
    <div class="columns-3 gap-1 space-y-1">
      {{#each this.clusters as |persons index|}}
        <Information::Cluster 
          @persons={{persons}} 
          @index={{index}} 
          @clusterKey={{this.clusterKey}} />
      {{/each}}
    </div>
  {{else if (eq @sortKey "matrilineage")}}
    <ul class="columns-3 gap-1">
      <Information::Generation 
        @generation={{this.data.matrilinealTree}}
        @liClass=""
      />
    </ul>
  {{else}}
    <ul class="columns-3 gap-1">
      {{#each @sortedPersons as |person|}}
        <Information::PersonsListItem @person={{person}} @sortKey={{@sortKey}}/>
      {{/each}}
    </ul>
  {{/if}}
</div>
