<div
 class="w-full bg-slate-50 shadow-md pl-3 py-4
   leading-tight
   relative
   flex flex-col
   max-h-[50vh]
   "
   {{stop-modal}}
   >
  <header class="flex flex-row items-start
  pr-3
  ">
    <h2 class="font-sans font-bold flex-grow text-2xl pb-4">
      {{@person.displayName}}
    </h2>
    <button type="button" {{on "click" this.goBack}}>
      <span class="sr-only">Close and Go Back</span>
      {{svg-jar "x"}}
    </button>
  </header>
  <Information::PersonCardProfile @profile={{@person.profile}}/>
</div>
