<section id="visualization" class="bg-slate-50/90 flex-grow block
  w-screen md:w-full
  fixed md:relative"
  
  {{on-resize this.calculateSizes}}
>
  <svg 
      class="text-xs md:text-base bg-transparent" 
      width={{this.svg.width}} height={{this.svg.height}}
      {{did-insert this.calculateSizes}}
      {{did-update this.calculateSizes}}
      {{zoom}}
      >
      <defs>
        <CommunityTree::Filters::AreaGlow @index="0" />
        <CommunityTree::Filters::WhiteDateGlow />
        <CommunityTree::Gradients::CircleGradient 
          @circleRadius={{this.svg.circleRadius}} 
          @gradient1817={{this.gradient1817}}
          @gradient1832={{this.gradient1832}}
          />
        <CommunityTree::Gradients::AgeScaleBarGradient />
        {{#each this.data.people as |person|}}
          <CommunityTree::Gradients::PersonGradient @person={{person}} />
        {{/each}}
      </defs>
      <CommunityTree::Background />
      {{#if @sortKey}}
        <text x="3%" y="3%" class="text-2xl">
          <tspan>Sorted by {{@sortKey}}</tspan>
          {{#each this.svg.tooltipContent as |line|}}
            <tspan x="3%" dy="1.325em" 
            class="text-lg
            {{if this.svg.showTooltip "duration-200 opacity-100" "duration-1000 opacity-0"}}
            ">{{line}}</tspan>
          {{/each}}
        </text>
      {{/if}}
      <g class="zoomable">
        <CommunityTree::Area @sortKey={{@sortKey}} @sortedPersons={{@sortedPersons}} @yearScale={{this.yearScale}} />
        <g 
          mask="url(#gradient-mask)"
          id="community-tree-circle"
          transform={{this.svg.circleTransform}}>
            {{#each @sortedPersons as |person i|}}
              <CommunityTree::Person 
                @person={{person}}
                @i={{i}} 
                @dataLength={{this.dataLength}}
                @yearScale={{this.yearScale}}
                @colorScale={{this.colorScale}}
                @minYear={{this.minYear}}
              />
            {{/each}}
        </g>
        <CommunityTree::YearScale
          @circleTransform={{this.svg.circleTransform}}
          @yearScale={{this.yearScale}} 
          @width={{this.svg.circleRadius}}
          />
      </g>
      <CommunityTree::Legend @ageScale={{this.ageScale}}/>
    </svg>
</section>
