  <li
    class="hover:bg-green-100 hover:text-green-900 transition-colors ease-in-out">
    {{#if (and @item.href @item.text)}}
      <a class="h-full block py-1 px-3" href={{@item.href}} target="_blank" rel="noopener noreferrer">{{@item.text}}</a>
    {{else}}
      <LinkTo
        class="h-full block py-1 px-3 "
        @route={{@item.route}}
        ...attributes>
          {{if @item.text @item.text (capitalize @item.route)}}
      </LinkTo>
    {{/if}}
  </li>

