<h4 class=" font-bold" {{on "click" this.toggleBiography}} role="button">
  {{@person.name}} - {{@person.id}}
</h4>
<div class={{if (eq this.activePerson.personId @person.id) "block" "hidden"}}>
  <p>
    {{@person.name}} was born in or around {{@person.birthYear}}. They left
    Rose Hall in {{@person.exitYear}}. They were classified as
    “{{@person.color}}” in color and “{{@person.origin}}” in origin.
  </p>
</div>
