<li class="overflow-y-hidden overflow-x-clip
{{if this.active "bg-green-200 shadow-md mb-2" "w-24 border-black border border-solid bg-green-100"}}
  "
  data-person-id={{@person.personId}}
>
  <h4 class="
    {{if this.active 
      "pl-2 pt-2 text-3xl" 
      "hover:underline font-bold"}}" 
    {{on "click" this.setActivePerson}} role="button">
    {{@person.name}}
  </h4>
  <AnimatedContainer class="overflow-hidden">
    {{#animated-if this.active use=this.transition duration = 1}}
      {{#let (if (eq @person.gender "Male") "He" "She") as |pronoun|}}
      <div class="p-2">
        <p>
          {{@person.name}} was born in or around {{@person.birthYear}}. {{pronoun}} left
          Rose Hall in {{@person.exitYear}}. {{pronoun}} was classified as
          “{{@person.color}}” in color and “{{@person.country}}” in origin.
        </p>
      </div>
      {{/let}}
    {{/animated-if}}
  </AnimatedContainer>
</li>
