<h4 class="{{if (eq this.activePersonId @person.id) "text-2xl" "text-sm"}} font-bold" {{on "click" this.toggleBiography}} role="button">
  {{@person.name}} - {{@person.id}}
</h4>
<div class={{if this.hiddenBio "hidden"}}>
  <p>
    {{@person.name}} was born in or around {{@person.birthYear}}. They left
    Rose Hall in {{@person.exitYear}}. They were classified as
    “{{@person.color}}” in color and “{{@person.origin}}” in origin.
  </p>
</div>
