<Text>

  <h1 class="mb-10 prose-xl">Documents</h1>

  {{#each @model as |document|}}

    <div class="max-w-sm w-full lg:max-w-full lg:flex mb-10">
      <div
        class="h-48 lg:h-auto lg:w-48 flex-none bg-cover text-center overflow-hidden border-r border-b border-l border-t lg:border-r-0 border-emerald-900 lg:border-t lg:border-emerald-900 p-4"
        style="background-image: url('/assets/images/{{document.id}}-thumb.jpg')"
        title="{{document.title}}"
      >

      </div>
      <div
        class="border-r border-b border-l border-emerald-900 lg:border-t lg:border-emerald-900 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        <h3 class="md:prose-md lg:prose-lg font-black">{{document.title}}</h3>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="doc-location">Currently held at {{document.location}}</p>
        <p><a
            href="/assets/images/{{document.id}}.{{document.file}}"
            target="_blank"
          >[Download]</a></p>

      </div>
      <hr />

    </div>

  {{/each}}

</Text>