<Text>

  <h1 class="mb-10 prose-xl">The Slave Registers</h1>

  <p class="prose-l" style="margin-bottom: 3rem;">The Registers of Returns of
    Slaves (also referred to simply as the slave registers) for Rose Hall
    Plantation are available at the Jamaica Archives in Spanish Town and the
    National Archives in Kew, England. They provide specific information about
    individual enslaved people at Rose Hall. Following the Abolition of the
    Slave Trade Act in 1807 in Great Britain and responding to heightened
    pressures from abolitionists, the British government agreed to consider the
    enactment of a bill requiring a registration of enslaved people. Such a
    registration process was proposed to alleviate the possibility of illegal
    trafficking of African captives to British colonies. After implementing this
    registration in the Crown Colony of Trinidad in 1812, the British Parliament
    attempted to establish this slave registration process throughout its
    colonies. Some colonial legislative bodies in the British Caribbean,
    including the House of Assembly of Jamaica (also referred to as the Jamaican
    Assembly), initially resisted the Registry Bill. However, the Jamaican
    Assembly adopted this slave registration bill in 1816 and required these
    returns from enslavers in Jamaica beginning in 1817. This registration
    procedure generally transpired on a triennial basis in the British Empire;
    however, this was not consistent for all of the British colonies. In
    Jamaica, slave registers began in 1817, and they continued on a triennial
    basis until 1832. Once instituted in Jamaica, the Registry Bill was not
    primarily utilized as a way to eliminate the illegal trafficking of African
    captives; rather, the Jamaican Assembly deployed it as a tool to apply
    heightened pressure on enslavers to achieve natural increase, or the
    increase in the number of live births, on their plantations and throughout
    Jamaica. Proprietors received tax breaks if they demonstrated they had
    achieved natural increase in their triennial registers. At the same time,
    however, penalties and fees related to incomplete registers did not result
    in complete compliance. (from the book)</p>

  {{#each @model as |document|}}

    <div class="max-w-sm w-full lg:max-w-full lg:flex mb-10">
      <div
        class="h-48 lg:h-auto lg:w-48 flex-none bg-cover text-center overflow-hidden border-r border-b border-l border-t lg:border-r-0 border-emerald-900 lg:border-t lg:border-emerald-900 p-4"
        style="background-image: url('/assets/images/{{document.id}}-thumb.jpg')"
        title="{{document.title}}"
      >

      </div>
      <div
        class="border-r border-b border-l border-emerald-900 lg:border-t lg:border-emerald-900 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        <h3 class="md:prose-md lg:prose-lg font-black">{{document.title}}</h3>

        <p>
          {{document.description}}
        </p>
        <p class="doc-location">Currently held at {{document.location}}</p>
        <p><a
            href="/assets/images/{{document.id}}.{{document.file}}"
            target="_blank"
          >[Download]</a></p>

      </div>
      <hr />

    </div>

  {{/each}}

</Text>