<div class="flex flex-col md:flex-row w-full h-full md:space-x-4">
  <Text class="">
    <:header>The Slave Registers</:header>

    <:content>

      <p> The slave register of 1817 as well as the subsequent triennial
      registers of 1820, 1823, 1826, 1829, and 1832 offer specific names of the
      enslaved women, men, and children at Rose Hall. The first slave register of
      Rose Hall in 1817 lists all enslaved individuals at Rose Hall as of June
      30, 1817; the subsequent registers list only those enslaved people who had
      been born and those who had passed in the three-year period between slave
      registers.</p>

      <h2>Collected Information</h2>
      <h3>Gender</h3>

      <p>Separated into two sub-lists—grouped under “Males” and “Females”
      (with males consistently listed first), these slave registers present and
      reinforce the binary of males and females without any flexibility possible
      in the written records. It is important to point out that the absence of
      this fluidity in the archival documents should not erase the possibility of
      some sense of flexibility embraced by individual enslaved persons at that
      time. Although not utilizing the terminology “queer,” we can certainly hold
      the imaginative space for some enslaved persons who might have recognized
      their resistance to this sharply defined gendered construct and imagined
      more expansive gender identities—and what Nadia Ellis (in “<a href="https://muse.jhu.edu/article/446631">Out and Bad:
      Toward a Queer Performance Hermeneutic in Jamaican Dancehall</a>”) describes as
      “a break in the line of gender.” </p>

      <h3>“Colour” and Nativity</h3>

      <p> These slave registers also include an identification of each
      individual’s “colour.” These terms are included with particular meanings in regard
      to blackness and whiteness or lightness: </p>

      <ul>
      <li>“Negro”: someone of African
      and/or Creole negro parentage who is not identified as being racially
      mixed</li>
      <li>“Mulatto”: someone who has one negro parent and one white parent</li>
      <li>“Quadroon”: someone who has one mulatto parent and one white parent</li>
      <li>“Sambo”: someone who has one negro parent and one mulatto parent</li>
      </ul>

      <p>There are other racial- and color-centered terms that are neither
      utilized in the Rose Hall Journal nor in the slave registers for Rose
      Hall but appear in other plantation and general records during this time
      (e.g., “quinteroon” and “octoroon”). Also included in these lists are each
      enslaved person’s estimated age and their “country”—their place of birth
      in Africa or the Americas, as “African” or “Creole,” respectively. </p>

      <h2>Purpose</h2>

      <p>The Registers of Returns of
        Slaves (also referred to simply as the slave registers) for Rose Hall
        Plantation are available at the Jamaica Archives in Spanish Town and the
        National Archives in Kew, England. They provide specific information about
        individual enslaved people at Rose Hall. Following the Abolition of the
        Slave Trade Act in 1807 in Great Britain and responding to heightened
        pressures from abolitionists, the British government agreed to consider the
        enactment of a bill requiring a registration of enslaved people. Such a
        registration process was proposed to alleviate the possibility of illegal
        trafficking of African captives to British colonies. After implementing this
        registration in the Crown Colony of Trinidad in 1812, the British Parliament
        attempted to establish this slave registration process throughout its
        colonies. Some colonial legislative bodies in the British Caribbean,
        including the House of Assembly of Jamaica (also referred to as the Jamaican
        Assembly), initially resisted the Registry Bill. However, the Jamaican
        Assembly adopted this slave registration bill in 1816 and required these
        returns from enslavers in Jamaica beginning in 1817. This registration
        procedure generally transpired on a triennial basis in the British Empire;
        however, this was not consistent for all of the British colonies. In
        Jamaica, slave registers began in 1817, and they continued on a triennial
        basis until 1832. Once instituted in Jamaica, the Registry Bill was not
        primarily utilized as a way to eliminate the illegal trafficking of African
        captives; rather, the Jamaican Assembly deployed it as a tool to apply
        heightened pressure on enslavers to achieve natural increase, or the
        increase in the number of live births, on their plantations and throughout
        Jamaica. Proprietors received tax breaks if they demonstrated they had
        achieved natural increase in their triennial registers. At the same time,
        however, penalties and fees related to incomplete registers did not result
        in complete compliance (from <em>Unsilencing Slavery: Telling Truths About Rose Hall Plantation, Jamaica</em>).</p>
    </:content>
  </Text>

  <ul class="md:w-1/2 block py-4 overflow-auto">
    {{#each @model as |document|}}
      <li class="max-w-sm w-full lg:max-w-full lg:flex mb-7 pr-8 h-48">
        <img src="/assets/thumbnails/{{document.id}}-thumb.jpg"
          class="h-48 w-36 flex-none bg-cover text-center overflow-hidden  border-b border-l border-t border-emerald-900 lg:border-t lg:border-emerald-900 p-4"
          alt="{{document.title}}"
        />

        <div
          class="border-r border-b border-emerald-900 lg:border-t lg:border-emerald-900 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
        >
          <h3 class="md:prose-md lg:prose-lg font-black">{{document.title}}</h3>


          <p class="doc-location text-sm pb-3">Currently held at {{document.location}}</p>
          <p class="font-medium"><a
              href="/assets/documents/{{document.id}}.{{document.file}}"
              target="_blank" style="color: #2E4934;" rel="noopener noreferrer"
            >Download Document</a> ({{document.size}})</p>

        </div>
        <hr />

      </li>
    {{/each}}
  </ul>
</div>
