<Text @hasToc={{true}}>
  <:header>Glossary</:header>

<:tocTitle>Terms</:tocTitle>

  <:toc>
    <ul>
      {{#each this.glossary as |entry|}}
        <li>
          <a href="#glossary-entry-{{entry.slug}}">{{entry.displayTerm}}</a>
        </li>
      {{/each}}
    </ul>
  </:toc>

  <:content>
    <dl class="">
      {{#each this.glossary as |entry|}}
        <dt class="font-bold text-3xl mt-6 first:mt-0 mb-3"
          id="glossary-entry-{{entry.slug}}"
        >
            {{capitalize entry.displayTerm}}
        </dt>
        <dd class="prose mb-6 last:mb-0">{{display-glossary-definition entry.definition}}</dd>
      {{/each}}
    </dl>
  </:content>
</Text>
