{{!-- Begin General --}}
{{#if this.model.title}}
  <title>{{this.model.title}}</title>
{{/if}}

{{#if this.model.description}}
  <meta name="description" content={{this.model.description}}>
{{/if}}

<meta name="referrer" content="unsafe-url">

{{#if this.model.canonical}}
  <link rel="canonical" href={{this.model.canonical}}>
{{else if this.model.url}}
  <link rel="canonical" href={{this.model.url}}>
{{/if}}
{{!-- End General --}}

{{!-- Begin Article --}}
{{#if this.model.date}}
  <meta property="article:published_time" content={{this.model.date}}>
{{/if}}

{{#each this.model.tags as |tag|}}
  <meta property="article:tag" content={{tag}}>
{{/each}}
{{!-- End Article --}}

{{!-- Begin opengraph (Facebook, Slack, etc) --}}
{{#if this.model.siteName}}
  <meta property="og:site_name" content={{this.model.siteName}}>
{{/if}}

{{#if (or this.model.articleTitle this.model.title)}}
  <meta
    property="og:title"
    content={{if this.model.articleTitle this.model.articleTitle this.model.title}}
  >
{{/if}}

{{#if this.model.url}}
  <meta property="og:url" content={{this.model.url}}>
{{/if}}

{{#if this.model.description}}
  <meta property="og:description" content={{this.model.description}}>
{{/if}}

{{#if this.model.type}}
  <meta property="og:type" content={{this.model.type}}>
{{/if}}

{{#if this.model.imgSrc}}
  <meta property="og:image" content={{this.model.imgSrc}}>
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
{{/if}}
{{!-- End opengraph --}}

{{!-- Begin Twitter --}}
<meta name="twitter:card" content="summary">

{{#if this.model.twitterUsername}}
  <meta name="twitter:site" content={{this.model.twitterUsername}}>
  <meta name="twitter:creator" content={{this.model.twitterUsername}}>
{{/if}}

{{#if this.model.imgSrc}}
  <meta name="twitter:image:src" content={{this.model.imgSrc}}>
{{/if}}

{{#if (or this.model.articleTitle this.model.title)}}
  <meta
    name="twitter:title"
    content={{if this.model.articleTitle this.model.articleTitle this.model.title}}
  >
{{/if}}

{{#if this.model.url}}
  <meta name="twitter:url" content={{this.model.url}}>
{{/if}}

{{#if this.model.description}}
  <meta name="twitter:description" content={{this.model.description}}>
{{/if}}

{{#if this.model.creator}}
  <meta name="twitter:label1" content="Created by">
  <meta name="twitter:data1" content={{this.model.creator}}>
{{/if}}

{{#if this.model.keywords}}
  <meta name="twitter:label2" content="Filed under">
  <meta name="twitter:data2" content={{this.model.keywords}}>
{{/if}}
{{!-- End Twitter --}}

{{!-- Begin Dublin Core --}}
{{#if this.model.siteName}}
  <meta name="DC.title" content={{this.model.siteName}}>
{{/if}}

{{#if this.model.description}}
  <meta name="DC.description" content={{this.model.description}}>
{{/if}}

{{#if this.model.creators}}
  {{#each this.model.creators as |creator|}}
    <meta name="DC.creator" content={{creator}}>
  {{/each}}
{{/if}}

{{#if this.model.lcshSubjects}}
  {{#each this.model.lcshSubjects as |subject|}}
    <meta name="DC.subject" content={{subject}} scheme="LCSH">
  {{/each}}
{{/if}}

{{#if this.model.date}}
  <meta name="DC.date" content={{this.model.date}}>
  <meta name="DC.created" content={{this.model.date}}>
{{/if}}

{{#if this.model.language}}
  <meta name="DC.language" content={{this.model.language}}>
{{/if}}

{{#if this.model.format}}
  <meta name="DC.format" content={{this.model.format}}>
{{/if}}


<script type="application/ld+json">
  {
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "https://rosehallproject.columbia.edu", 
    "name": "(Un)Silencing Slavery",
    "author": [
      { "@type": "Person", "name": "Celia E. Naylor", "url": "https://barnard.edu/profiles/celia-e-naylor" },
      { "@type": "Person", "name": "Kristen Akey" },
      { "@type": "Person", "name": "Madiha Zahrah Choksi", "url": "https://madihaz.com" },
      { "@type": "Person", 
        "name": "Alex Gil", 
        "url": "https://twitter.com/elotroalex/" }
        "@id": "https://dbpedia.org/page/Alex_Gil_(scholar)",
      { 
        "@type": "Person", 
        "@id": "https://orcid.org/0000-0002-0365-5569",
        "mainEntityOfPage": "https://orcid.org/0000-0002-0365-5569",
        "name": "Moacir P. de Sá Pereira", 
        "url": "https://moacir.com/" 
      },
      { "@type": "Person", "name": "Monique J. S. Williams"}
    ],
    "description": "(Un)Silencing Slavery respectfully and lovingly remembers and holds space for the enslaved Africans and their enslaved African-born and Caribbean-born descendants who lived and labored at Rose Hall Plantation in Jamaica.",
    "publisher": "Columbia University Libraries",
    "datePublished": "2022-08-06"
  }
</script>

<link rel="Shortcut Icon" type="image/x-icon" href="/favico/favicon-light.ico" media="(prefers-color-scheme: light)" />
<link rel="apple-touch-icon" sizes="180x180" href="/favico/apple-touch-icon-light.png" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" sizes="32x32" href="/favico/favicon-32x32-light.png" media="(prefers-color-scheme: light)" />
<link rel="icon" type="image/png" sizes="16x16" href="/favico/favicon-16x16-light.png" media="(prefers-color-scheme: light)" />
<link rel="mask-icon" href="/favico/safari-pinned-tab-light.svg" color="#5bbad5" media="(prefers-color-scheme: light)" />
<link rel="Shortcut Icon" type="image/x-icon" href="/favico/favicon-dark.ico" media="(prefers-color-scheme: dark)" />
<link rel="apple-touch-icon" sizes="180x180" href="/favico/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" sizes="32x32" href="/favico/favicon-32x32-dark.png" media="(prefers-color-scheme: dark)" />
<link rel="icon" type="image/png" sizes="16x16" href="/favico/favicon-16x16-dark.png" media="(prefers-color-scheme: dark)" />
<link rel="mask-icon" href="/favico/safari-pinned-tab-dark.svg" color="#5bbad5" media="(prefers-color-scheme: dark)" />
<link rel="manifest" href="/favico/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
