<main class="">
  <article class="flex flex-row">
    <section id="visualization" class="hidden md:block flex-grow">
      Visualization
      <img src="https://d2mvzyuse3lwjc.cloudfront.net/doc/en/UserGuide/images/2D_B_and_W_Pie_Chart/2D_B_W_Pie_Chart_1.png?v=83139">
    </section>
    <section id="information" class="bg-green-100 flex-grow md:flex-grow-0 md:max-w-1/3">
      <!--
        <div id="person-card">
          Name: [some name]
          Gender: [binary gender]
          Year of Birth: [year]
          Mother: [Mother]
          Grandmother: [Grandmother]
          Great-Grandmother: [Great Grandmother]
          Arrival at Rose Hall: [year]
          Departure from Rose Hall: [year]
          Colour: [Colour]
          Country: [Country]
          Duties: [Duties]
          Disposition in 1832: [Disposition]
          Condition in 1832: [Condition]
          Relations: [other people]
        </div>
      -->
      <div id="list-of-enslaved-persons">
        <h3>List of Enslaved Persons</h3>
        <ul>
          {{#each @model as |person|}}
            <li>
              <h4 class="font-bold">
                {{person.name}}
              </h4>
              <p>
                {{person.name}} 
                {{#if (lte person.birthYear 1818)}}
                  arrived at Rose Hall
                {{else}} 
                  was born 
                {{/if}} in {{person.birthYear}}. 
                They left Rose Hall in {{person.exitYear}}.
            They were classified as “{{person.color}}” in color and
            “{{person.origin}}” in origin.</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
  </article>
</main>

