<h1>People</h1>

{{#each @model as |person|}}
<p>
  {{person.name}} ({{person.color}}, {{person.origin}}) was born in {{person.birthYear}} 
  and left in {{person.exitYear}}
</p>
{{/each}}

{{outlet}}
